---
import Timeline from "@/components/timeline/Timeline.astro";
import TimelineElement from "@/components/timeline/TimelineElement.astro";
---

<h2 class="h2">Achievements</h2>
<Timeline>
  <TimelineElement
    from={{ year: 2018, month: 5 }}
    to={{ year: 2018, month: 5 }}
  >
    基本情報技術者(FE) 合格
  </TimelineElement>
  <TimelineElement
    from={{ year: 2018, month: 12 }}
    to={{ year: 2018, month: 12 }}
  >
    応用情報技術者(AP) 合格
  </TimelineElement>
  <TimelineElement
    from={{ year: 2023, month: 4 }}
    to={{ year: 2023, month: 4 }}
  >
    <a href="https://tweetgen.cordx.net/" target="_blank" rel="noreferrer"
      >Tweet Generator</a
    > had gained 500,000 users
  </TimelineElement>
  <TimelineElement
    from={{ year: 2025, month: 2 }}
    to={{ year: 2025, month: 2 }}
  >
    <a
      href="https://github.com/cordx56/rustowl"
      target="_blank"
      rel="noreferrer"
    >
      RustOwl</a
    > became the fourth trending repository on GitHub
  </TimelineElement>
  <TimelineElement from={{ year: 2025, month: 4 }}>
    JST SPRING
    <div class="opacity-60">Grant No. JPMJSP2168</div>
  </TimelineElement>
</Timeline>
