---

---

<header id="profile-header" class="sticky top-0 h-screen -z-30">
  <div class="absolute w-full" id="profile-header-contents">
    <div
      class="flex flex-col sm:flex-row justify-center items-center px-4 pt-4 pb-2"
    >
      <div class="delay-1" style={{ width: "100px", height: "100px" }}>
        <img
          class="rounded-full w-full h-full qr-toggle"
          src="/favicon-large.png"
          alt="cordx56 icon"
        />
        <img
          class="w-full h-full qr-toggle hidden"
          src="/qr-cordx-cx.svg"
          alt="cordx.cx QR code"
        />
      </div>
      <div class="w-72 py-2 px-4">
        <h1 class="block mb-2 text-5xl text-center delay-2">@cordx56</h1>
        <ul class="flex justify-center text-xl">
          <li>
            <a href="mailto:cordx56@cordx.cx">cordx56@cordx.cx</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script>
  const onScrollOrResize = () => {
    updateHeader();
  };
  const updateHeader = (reset = false) => {
    const maxBlur = 8;
    const header = document.getElementById("profile-header");
    const headerContents = document.getElementById("profile-header-contents");
    if (header && headerContents) {
      const headerHeight = header.offsetHeight;
      const headerContentsHeight = headerContents.offsetHeight;
      const scrollY = window.scrollY;
      const initScrollY = headerHeight - headerContentsHeight;
      if (reset) {
        headerContents.style.top = "0px";
        window.scrollTo(0, initScrollY);
      } else if (scrollY < initScrollY) {
        headerContents.style.top = `${(headerHeight - scrollY - headerContentsHeight) / 2}px`;
        headerContents.style.filter = `blur(0px)`;
      } else {
        headerContents.style.top = `${initScrollY - scrollY}px`;
        headerContents.style.filter = `blur(${
          Math.min(1, (scrollY - initScrollY) / headerContentsHeight) * maxBlur
        }px)`;
      }
    }
  };
  window.addEventListener("DOMContentLoaded", () => updateHeader(true));
  window.addEventListener("scroll", onScrollOrResize);
  window.addEventListener("resize", onScrollOrResize);

  // toggle QR code
  const qrElems = document.getElementsByClassName("qr-toggle");
  for (const elem of qrElems) {
    if (elem instanceof HTMLElement) {
      elem.addEventListener("click", () => {
        for (const toggle of qrElems) {
          toggle.classList.toggle("hidden");
        }
      });
    }
  }
</script>
