* {
  @apply box-border;
}

body {
  @apply relative -z-50 bg-zinc-200 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-200;
  font-size: clamp(0.75rem, 0.7rem + 0.3vw, 0.95rem);
  font-family: "BIZ UDPGothic", sans-serif;
  font-style: normal;
}

.nav {
  @apply sticky bottom-0 max-w-screen-md mx-auto z-20 bg-gradient-to-t from-zinc-200 via-zinc-200/90 to-zinc-200/0 dark:from-zinc-900 dark:via-zinc-900/90 dark:to-zinc-900/0;
}
.nav a {
  @apply inline-block px-8 py-4 nav-text;
}

.centered {
  @apply max-w-screen-md mx-auto;
}

.box {
  @apply m-3 p-3 /*bg-zinc-100/70 dark:bg-zinc-800/70 border border-zinc-500 rounded-lg*/;
}

.row {
  @apply flex flex-wrap;
}
.col-2 {
  @apply w-full lg:w-1/2 p-2 mx-auto;
}

table {
  @apply w-full;
}
tr {
  @apply border-b border-crimson-500;
}
td {
  @apply p-2;
}

.ul {
  @apply my-2 list-disc list-inside;
}

.h1 {
  @apply my-2;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 2.5rem);
  font-weight: 400;
}
.h2 {
  @apply p-2 border-b border-crimson-700;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 1.75rem);
  font-weight: 400;
}
.h3 {
  font-size: clamp(1.1rem, 1rem + 0.5vw, 1.4rem);
  font-weight: 400;
}

a {
  @apply text-crimson-500 hover:text-crimson-700;
}
p {
  @apply my-2;
}

.hero-title {
  font-size: clamp(2rem, 1.7rem + 1.5vw, 3rem);
  font-weight: 300;
}

.nav-text {
  font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.2rem);
}

.email-text {
  font-size: clamp(0.85rem, 0.8rem + 0.25vw, 1rem);
}

.icon-container:hover img:first-child {
  opacity: 0;
}
.icon-container:hover img:last-child {
  opacity: 1;
}

.slide-anim {
  position: relative;
}
.slide-anim::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    45deg,
    rgba(224, 0, 0, 0.95),
    rgba(242, 0, 180, 0.95)
  );
}
.slide-anim.delay-1::after {
  animation: change-width-d1 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.slide-anim.delay-2::after {
  animation: change-width-d2 1.5s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes change-width-d1 {
  0% {
    width: 100%;
  }
  45% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes change-width-d2 {
  0% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
